* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
.menu-1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}
.menu-1 a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}
.menu-1 li {
    padding: 16px;
    width: 233px;
    height: 48px;
    background-color:#3AB500;
    
}
.menu-1 ul {
    display: none;
}
.menu-2 {
    position: relative;
    top: 14px; /*КОСТЫЛИ!! УБРАТЬ!!*/
    left: -16px;
}
.menu-3 {
    position: relative;
    top: -35px; /*КОСТЫЛИ!! УБРАТЬ!!*/
    left: 217px;
    
}

.menu-2>li:nth-child(2n) {
    background-color: #60D828;
}
.menu-3>li:nth-child(2n+1) {
    background-color: #60D828;
}

.menu-1 li:hover { /*change later*/
    background-color: black;
}
.menu-1>li:hover>.menu-2 {
    display: block;
}
.menu-1>li:hover>.menu-2>li:hover>.menu-3 {
    display: block;
}
